table(id="result-table" class="table table-dark table-result")
  thead
    tr
      th(scope="col" style="width: 30%") Igreja
      th(scope="col" style="width: 30%") Cargo
      th(scope="col" style="width: 40%") Nome
  tbody(id="table-body")

