extends ../../comum/layout

block content
  body.bg-light.text-dark

    include ../../comum/header
    hr

    section
      div.container
        h2.text-center Cadastrar Pessoa
        div(class="row justify-content-center")
          div(class="col-md-7 col-sm-12")
            div(id="alert-list" class="alert alert-danger d-none" role="alert")
        form(id="frmPessoa" action='/pessoa/new' method='POST' onsubmit='onAdd()')
          div.row.g-3
            div.col-md-6
              div.mb-3
                label.form-label(for="igrejaSelect") Igreja
                div.input-group
                  select#igrejaSelect.form-control.form-control-sm(name="igreja", style="width: 200px;", required)
                  button.btn.btn-outline-secondary(type="button", data-bs-toggle="tooltip", data-bs-placement="top", title="Escolher Cargo") 
                    span.bi.bi-chevron-down
            div.col-md-6
              div.mb-3
                label.form-label(for="cargoSelect") Cargo
                div.input-group
                  select#cargoSelect.form-control.form-control-sm(name="cargo", style="width: 200px;", required)
                  button.btn.btn-outline-secondary(type="button", data-bs-toggle="tooltip", data-bs-placement="top", title="Escolher Cargo") 
                    span.bi.bi-chevron-down
          div.row.g-3
            div.col-md-6
              div.mb-3
                label.form-label(for="nome") Nome
                input#nome.form-control.form-control-sm(type="text", name="nome", placeholder="Informe o Nome", required)
            div.col-md-6
              div.mb-3
                label.form-label(for="cpf") CPF
                div.input-group
                  input#cpf.form-control.form-control-sm(type="text", name="cpf", placeholder="Informe o CPF", required)
                  span.input-group-text(data-bs-toggle="tooltip", data-bs-placement="top", title="Exemplo: 999.999.999-99") 999.999.999-99
          div.row.g-3
            div.col-md-6
              div.mb-3
                label.form-label(for="dataNascimento") Data de Nascimento
                input#dataNascimento.form-control.form-control-sm(type="date", name="dataNascimento", required)
          div.d-grid.gap-2
            button(id="btnCadastrar" type="button" class="btn btn-dark" onclick="onAdd()")
              span(id="icon-save" class="bi bi-save" aria-hidden="true")
              | Cadastrar&nbsp;&nbsp;
            a(id="btnCancelar" type="button" class="btn btn-danger" href="/pessoa/consultar") 
              span(id="icon-counterclockwise" class="bi bi-arrow-counterclockwise" aria-hidden="true")
              |Voltar&nbsp;&nbsp;
            a(id="btnLimpar" type="button" class="btn btn-outline-danger" href="/pessoa/new") 
              span(id="icon-eraser" class="bi bi-eraser" aria-hidden="true")
              | Limpar&nbsp;&nbsp;
