nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  div.container-fluid
    a.navbar-brand(href="/" style="font-size: 1.8rem; display: flex; align-items: center;") 
      span.bi.text-secondary.bi-check-circle(style="margin-right: 5px;") 
      | Confirma Fácil
    div.logo-container(class="ms-auto")
      img.logo(src="/images/logotipo.png", alt="Logo da Empresa", width="50")
