.logo-container {
  background-color: #fff; /* Cor de fundo claro desejada */
  padding: 8px; /* Adapte o preenchimento conforme necessário para obter o espaçamento desejado */
  border-radius: 5px; /* Adapte o raio da borda conforme necessário */
}
